.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
}

.container a{
    color: var(--normal-blue);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.edit-line{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}