.container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 1.8rem;
}

.grid{
    display: grid;
    gap: 10px;
}

.grid:nth-child(1){grid-template-columns: 3fr 2fr;}
.grid:nth-child(2){grid-template-columns: 1fr 3fr 1fr;}
.grid:nth-child(3){grid-template-columns: 3fr 3fr 1fr 2fr;}
.grid:nth-child(4){grid-template-columns: 2fr 3fr;}

.flex{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-actions{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.actions{
    width: 40%;
    display: flex;
    gap: 10px;
}

.actions a{
    width: 100%;
}