.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container h1{
    text-align: center;
    margin: 10px 0 50px;
    font-size: 1.8rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}